<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acme Product Management</title>

    <!-- style sheets -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />

    <!-- library script -->
    <script src="js/angular.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/angular-mock.js"></script>

    <!-- application script -->
    <script src="app/app.js"></script>
    <script src="common/services/common.services.js"></script>
    <script src="common/services/productResource.js"></script>
    <script src="common/services/productResourceMock.js"></script>
    <script src="app/products/productListCtrl.js"></script>

</head>
<body ng-app="productManagement">
<div class="panel panel-primary">
<div class="panel-heading" style="font-size:large">
    Product Page
</div>
<div class="panel-body">
    <table class="table" ng-controller="productListCtrl as vm">
    <thead>
    <tr>
        <td><button class="btn btn-primary" type="button" ng-click="vm.toggleImage()">
            {{vm.showImage ? "Hide" : "Show"}} Image</button></td>
        <td>Product</td>
        <td>Code</td>
        <td>Available</td>
        <td>Price</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="product in vm.products">
        <td><img style="width:50px;margin:10px" ng-if="vm.showImage" ng-src="{{product.imageUrl}}" title="{{product.productName}}"/></td>
        <td>{{product.productName}}</td>
        <td>{{product.productCode}}</td>
        <td>{{product.releaseDate}}</td>
        <td>{{product.price | currency}}</td>
    </tr>
    </tbody>
</table>
</div>
</div>
</body>
</html>