<div ng-if="false">
  <md-content layout-padding>
    <form>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label for="noteInput">Note</label>
          <input type="text" id="noteInput">
        </md-input-container>
        <md-datepicker class="md-block">
          Date
        </md-datepicker>
      </div>
    </form>
  </md-content>
</div>
<p ng-if="!vms.selectedUser.notes.length">No notes for {{vm.selectedUser.name}}.</p>
<md-content>
  <md-card ng-repeat="note in vm.selectedUser.notes | orderBy:'-date':true">
    <md-card-content>
      <h3>{{note.title}}</h3>
      <p>{{note.date | date:'yyyy/MM/dd'}}</p>

    </md-card-content>
    <md-card-action layout="row" layout-align="end center">
      <md-button ng-click="vm.removeNote(note)">Remove</md-button>
    </md-card-action>
  </md-card>
</md-content>