<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular vs React - React Example</title>
</head>
<body>
  <div>
    <!--<div class="navbar navbar-default">
      <a class="navbar-brand" href="#">React Forum</a>
    </div>
    <div class="container">
      <div>
        <h1>What is React and Flux?</h1>
        <p>
          Don't know about React or Flux. Can you help me?
        </p>
      </div>
      <div ng-repeat="answer in vm.answers">
        <answer />
      </div>
      <hr />
      <h4>Add an answer</h4>
      <div>
        <textarea class="col-md-6 col-xs-8" ng-model="vm.newAnswerText">
        </textarea>
        <input type="button" class="btn btn-primary" ng-click="vm.addAnswer()" value="Add">
        </button>
      </div>
    </div>-->
    <div id="forum">
    </div>
  </div>
</body>
</html>