body {
  background-color: whitesmoke
}
html, body { 
height: 100%; 
width: 100%; 
margin: 0; 
}

.jqx-layout-group-auto-hide-content-vertical {
  width: 200px;
}

/*#jqxLayout {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}*/